.container
{
    border: 3px solid rgb(128, 127, 127);
    width: 500px;
    border-radius:5px;
}
.head{
    color: red;
    padding-left: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
.questiontext
{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
padding-left: 10px;

height: 50px;
}
.option
{
  height: auto;
  overflow-x:auto;
  font-weight: bold;
  font-size: 17px;
  color: rgb(36, 35, 35);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 3px solid rgb(134, 132, 132);
  margin-left: 10px;
  width: 20em;
  margin-top: 0px;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 5px 0px 5px 5px;
  
}
.option:hover
{
 box-shadow: rgb(109, 105, 105) 2px 3px 5px;   
 border: 3px solid rgb(32, 32, 34);
 cursor: pointer;
}
.nextprev{
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
  padding: 3px 15px 3px 15px;
  margin:20px 50px 15px 50px ;
  border: 2px solid black;
  border-radius: 3px;
  background-color: hsl(221, 82%, 66%);  
}
.nextprev:hover{
  background-color: hsl(221, 91%, 46%);   
}